# Ignorar las fotos/archivos subidos por los usuarios
uploads/*
!uploads/.gitkeep

# Ignorar archivos del sistema operativo / editores
.DS_Store
Thumbs.db
.vscode/

# Si tienes un archivo con credenciales de BD o API Keys
config/env.php
config/app.php